
// Couleur Du Logo & Titre // 
.Color
{
    &__title
    {
        margin-left: -8px;
        background-image: linear-gradient($primary, $purple);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

// Taille Text De La Banniere // 
.textBanner
{
    font-size: 1.3em;
}