// Couleur Du Logo & Titre // 

.Colortitle
{
    margin-left: -8px;
    background-image: linear-gradient($primary, $purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Colorcart
{
    background-image: linear-gradient($primary, $purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.3em;
}


// Taille Text De La Banniere // 
.textBanner
{
    font-size: 1.3em;
}